<div class="container-fluid navbar-container">
  <nav class="container navbar navbar-toggleable-lg navbar-light p-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand my-auto" routerLink="/" routerLinkActive="active">Bookshelves</a>
    <div class="collapse navbar-collapse py-2 mr-3 text-center" id="navbarCollapse">
      <ul class="navbar-nav ml-auto my-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/category/Business" routerLinkActive="active">Business</a>
            <a class="dropdown-item" routerLink="/category/Politics" routerLinkActive="active">Politics</a>
            <a class="dropdown-item" routerLink="/category/Finance" routerLinkActive="active">Finance</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/add" routerLinkActive="active">Add Book</a>
        </li>
      </ul>
      <form class="form-inline Search">
        <div class="search-group mx-auto">
          <input class="Search-box" type="search" id="Search-box" placeholder="Search for someone...">
          <label class="Search-label" for="Search-box"><i class="fa fa-search"></i></label>
        </div>
      </form>
    </div>
  </nav>
</div>

<header>
    <div class="container-fluid py-5">
        <div class="row mt-1">
            <div class="col text-center">
                <h1 class="tagline">Book recommendations from influential people.</h1>
                <h5 class="subtitle hidden-md-down">Browse the bookshelves of successful people in the fields of business, technology, politics, and more.</h5>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container page-content">

    <router-outlet></router-outlet>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row text-center">
            <div class="col-lg-12">
                <p>Copyright &copy; Bookshelves 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
